body {
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
}

h1, h2, h3 {
	padding: 10px 0;
	font-size: 15px;
}

h1 {
	font-weight: bold;
}

h2 {
	padding: 35px 0 10px 0;

	font-weight: bold;
	font-style: italic;

	/* @include text-shadow(#711ac3 3px 3px 5px); */
}

a {
	color: $color-highlight;
}

p {
	padding: 4px 0;
	line-height:130%;
	font-size: 13px;

	strong {
		color: $color-highlight;
		font-family: monospace;
		font-weight: bold;
	}

	&.warning {
		color: #FF0000;
		font-weight: bold;
	}
}

.code {
	padding: 5px;

	font-family: monospace;
	background-color: #777777;
}

table {
	width: 100%;
	font-size: 13px;
	line-height:130%;

	td {
		padding: 5px 0 0 0;
		vertical-align: top;
	}

	.option,
	.types,
	.default {
		width: 20%;
		font-family: monospace;
		font-weight: bold;
	}

	.option {
		width: 30%;
	}

	.types {
		width: 10%;
	}

	.default { color: $color-highlight; }
	.info {
		width: 40%;

		strong {
			color: $color-highlight;
			font-family: monospace;
			font-weight: bold;
		}
	}
}